<!DOCTYPE html>
<html data-ng-app="myapp">
<body>

<div ng-controller="MainController">
    <!-- Element directive -->
    <div>
        <input ng-model="photo.date"/>
        <photo photo-src="{{photo.url}}" caption="photo.date" />
    </div>
</div>

<script src="http://code.angularjs.org/1.2.9/angular.js"></script>
<script>
    var app = angular.module("myapp",[]);

    app.controller('MainController',function($scope){
        $scope.photo = {
            url: "http://1.bp.blogspot.com/-OK8gVMu17i0/UAUtYEKrSpI/AAAAAAAAAMQ/1bcg6JFPs9s/s1600/hotel1.jpg",
            date: "January 1, 2014"
        }
    });

    /*
        In order to have two-way data-binding between controller scope and directive's isolate-scope
        (2 different scopes) we must pass a string representation of our scope variable as the directive attribute
        (not an interpolation expression). Then we must use the '=' operator for scope property object as such
     */

    app.directive('photo', function() {
        return {
            restrict: 'AECM',
            templateUrl: "photo.html",
            replace: true,
            scope: {
                localCaption: '=caption',
                photoSrc: '@'
            }
        }
    });

</script>

<script type="text/ng-template" id="photo.html">
    <figure>
        <img width="500px" ng-src="{{photoSrc}}"/>
        <figcaption>{{localCaption}}</figcaption>
        <input ng-model="localCaption"/>
    </figure>
</script>

</body>
</html>